div {
  padding: 0.3rem 0.5rem;
}

.add-todo-input {
  width: 2rem;
}

.add-todo-button {
  width: 0.6rem;
}

.todos {
  list-style: none;
  padding-left: 0;
}

.todos li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0.42rem;
  border-radius: 1rem;
  padding: 0 0.14rem;
}

.todos li:hover {
  background-color: #eeeeee;
}

.complete {
  box-sizing: border-box;
  margin: 0;
  width: 0.16rem;
  height: 0.16rem;
}

.todo {
  padding-left: 0.14rem;
  text-align: left;
  flex-grow: 1;
}

.delete {
  width: 0.32rem;
  height: 0.32rem;
  padding: 0;
}
